@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*{
  color: black;
}
body {
  line-height: inherit;
  margin: 0;
  background-color: #26264a;
  font-weight: 500;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
}
/* 
input::placeholder,
textarea::placeholder {
  color: #000000;
  opacity: 1;
} */
